body {
    margin: 0;
    background: #1f2937;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 250px auto;
}

.title {
    display: flex;
    color: white;
    flex-direction: column;
    margin: 0;
}

.rdmpwd {
    color: #4adf86;
    margin: 0;
    padding: 0;
}

.description {
    color: #b4b5bb;
    top: 0;
    margin-top: 10px;
}

.btn {
    width: 175px;
    color: white;
    padding: 10px;
    background: #10b981;
    border: 0px;
    border-radius: 5px;
    margin-top: 20px;
}

.line {
    border: 1px solid #283648;
    width: 460px;
    margin-top: 40px;
}

.rdmPasswords {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

#pwdBoxOne {
    border: 0px solid black;
    border-radius: 4px;
    background: #273549;
    padding: 10px 40px;
    color: #4edf87;
}
#pwdBoxTwo {
    border: 0px solid black;
    border-radius: 4px;
    background: #273549;
    padding: 10px 40px;
    color: #4edf87;
}